<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721644748560-u55br2fd71044o4gla9lq28r4p511jpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721644748560-u55br2fd71044o4gla9lq28r4p511jpl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>721644748560-30tkn3sn6nt9jnb89m5u498dlfaodp5g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD150NIW6lidkVZYg1rMFB3TtfgZ4v9LIw</string>
	<key>GCM_SENDER_ID</key>
	<string>721644748560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cal.smartstation</string>
	<key>PROJECT_ID</key>
	<string>smartstation-a1330</string>
	<key>STORAGE_BUCKET</key>
	<string>smartstation-a1330.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721644748560:ios:bc2a8cf9c0bfebd401af95</string>
	<key>DATABASE_URL</key>
	<string>https://smartstation-a1330-default-rtdb.firebaseio.com</string>
</dict>
</plist>